@(Pedido: java.util.List[pedido]) 
<html>
<head>
</head>
<body>
<table border="1">
	<tr>
			<td>Nombre restaurante</td>
			<td>Nombre pedido</td>
			<td>Tipo pedido</td>
			<td>Cantidad pedido</td>
			<td>Precio pedido</td>
	</tr>
	
	@for(pedido <- Pedido){
	<tr>
			<td>@pedido.name</td>
			<td>
			 @if(restaurante.pedido == null) {
                                <em>-</em>
                            } else {
                                @pedido..tipo
 }
			</td>
			<td>
                            @if(restaurante.pedido == null) {
                                <em>-</em>
                            } else {
                                @restaurante.cantidad
                            }
                        </td>
                        <td>
                            @if(restaurante.pedido == null) {
                                <em>-</em>
                            } else {
                                @pedido.pedido.precio
                        </td>
	</tr>

	<tr>

	</tr>
</table>
</body>
</html>